.container {
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: red;
    margin: 0 auto; /* Centraliza o contêiner na tela horizontalmente */
}
.press{
    border: 2px solid;
    width: 40px;
}
.screen{
    display: inline-flex;
}