.container {
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: red;
    margin: 0 auto; /* Centraliza o contêiner na tela horizontalmente */
}

.pressNumbers {
    background-color: aqua;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

.numbers {
    font-size: 5em;
    line-height: 3px;
    
}
